@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #526683;
    font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar{
    width: 6px;
    background: #f8f8f8;
}
::-webkit-scrollbar-thumb{
    background-color: #9b9b9b;
    border-radius: 8px;
}
section.chat__section{
    max-width: 90%;
    background-color: #fff;
    box-shadow :0 10px 15px -3px rgba(39, 39, 39, 0.3),0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow-y: hidden;
}
.brand{
    padding: 5px;
    background: #e2e2e2c2;
    display: flex;
    align-items: center;
    border-radius: 7px 7px 0px 0px;
}
.brand h1{
    margin-left: 10px;
    text-transform: uppercase;   
    color: rgb(41, 41, 41);
}
.message__area{
    height: 450px;
    padding: 2px 15px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}
.message{
    padding: 10px;
    margin-bottom: 40px;
    max-width: 160px;
    position: relative;
    word-wrap: break-word;
}
.incoming{
    background:#65db84;
    color: #3a3a3f;
    border-radius:  24px 24px 24px 0px;
}
.outgoing{
    background: #c8d1de;
    color: #171616;
    margin-left: auto;
    border-radius:  25px 25px 0px 28px;
}
.outgoing h4{
    position: absolute;
    top: -20px;
    right: 0;
    color:#333;
    font-size: 14px;
}
.incoming h4{
    position: absolute;
    top: -20px;
    left: 0;
    color:#333;
    font-size: 14px;
}
.join{
    padding: 0px 12px;
    margin: 0px auto;
    background-color: #c5e9ea;
    border-radius: 11px;
    margin-bottom: 22px;
}
.bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
textarea{
    width: 94%;
    border: none;
    padding: 15px;
    font-size: 15px;
    outline: none;
    background-color: #6c8c8d50;
    overflow: hidden;
    resize: none;
    word-wrap: break-word;
}
.btn{
    padding: 11px 11px;
    outline: none;
    height: 48px;
    border: none;
    background-color: #6c8c8d50;
}
.bottom img{
    filter : invert(35%);
}
